/* @/styles/adminDashboard.module.css */

.tableContainer {
    margin-bottom: 20px;
    width: 70vw;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table th,
.table td {
    /* border: 1px solid #ddd; */
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #b6ad9c;
}

.table th {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: rgba(156, 145, 129, 0.287);
}

.buttonsContainer {
    display: flex;
    margin-bottom: 10px;
}

.admin-dashboard-button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

/* .activeButton {
    background-color: #4caf50;
    color: white;
} */

.activeButtonNewStyle {
    color: white;
    background-color: rgb(12, 101, 12);
    /* margin-left: 5px; */
    border: 2px solid rgb(12, 101, 12);
    border-radius: 4px;
    padding: 0.4rem;
    margin-right: 0.3rem;
    letter-spacing: 0.1rem;
    text-align: center;
}
/* Add more styles as needed */

/* .activeButtonNewStyleNone {
    color: grey;
    background-color: rgb(201, 205, 201);
    border: 2px solid rgb(194, 203, 194);
    border-radius: 4px;
    padding: 0.4rem;
    margin-right: 0.3rem;
    letter-spacing: 0.1rem;
    text-align: center;
} */

.activeButtonNewStyleOfflineActive {
    cursor: pointer;
    color: white;
    background-color: rgb(225, 14, 30);
    border: 2px solid rgb(225, 14, 30);
    border-radius: 4px;
    padding: 0.4rem;
    margin-right: 0.3rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.activeButtonNewStyleOffline {
    cursor: pointer;
    color: white;
    background-color: rgb(225, 14, 30, 50%);
    border: 2px solid rgb(225, 14, 30, 15%);
    border-radius: 4px;
    padding: 0.4rem;
    margin-right: 0.3rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.activeButtonNewStyleOnlineActive {
    cursor: pointer;
    color: white;
    background-color: rgb(12, 101, 12);
    border: 2px solid rgb(12, 101, 12);
    border-radius: 4px;
    padding: 0.4rem;
    margin-right: 0.3rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.activeButtonNewStyleOnline {
    cursor: pointer;
    color: rgb(255, 255, 255, 100%);
    background-color: rgb(12, 101, 12, 50%);
    border: 2px solid rgb(12, 101, 12, 12%);
    border-radius: 4px;
    padding: 0.4rem;
    margin-right: 0.3rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.activeButtonNewStyleAllActive {
    color: white;
    background-color: rgb(66, 97, 119);
    border: 2px solid rgb(66, 97, 119);
    border-radius: 4px;
    padding: 0.4rem;
    margin-right: 0.3rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.activeButtonNewStyleAll {
    color: white;
    background-color: rgb(145, 172, 191);
    border: 2px solid rgb(145, 172, 191, 50%);
    border-radius: 4px;
    padding: 0.4rem;
    margin-right: 0.3rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.ingredients {
    font-size: 0.9rem; /* Adjust the font size as needed */
    font-family: Arial, Helvetica, sans-serif;
    color: #555; /* Adjust the color as needed */
    margin-top: 5px; /* Adjust the margin as needed */
}
/* 
.flavour {
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 0.08rem;
    color: var(--color-first);
    padding: 3px 3px;
    text-align: center;
    border-radius: 5px;
    border: 1px rgb(169, 165, 151) solid;
    text-transform: uppercase;
    margin: 0.3rem;
    margin-top: 0.8rem;
} */

.tableBadge {
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    font-weight: 500;
    letter-spacing: 0.08rem;
    color: var(--color-first);
    padding: 3px 3px;
    text-align: center;
    border-radius: 5px;
    border: 1px rgb(169, 165, 151) solid;
    text-transform: uppercase;
    margin: 0.3rem;
    margin-top: 0.8rem;
}
