.dish-list-container-admin {
    display: flex;
    padding-top: 2rem;
    padding-right: 6rem;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.button-status-admin-box {
    display: flex;
    gap: 1rem;
}

.button-status-admin-dishes {
    width: 100px;
}
