:root {
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Other global styles */
html,
body {
    width: 100vw;
    height: 100vh;
    padding: 2rem;

    font-size: 1rem;
    background-color: #e6d3b0;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header .header-items {
    display: flex;
}

header .header-items .header-item,
.logo {
    padding: 1rem 2rem;
}

a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    gap: 1rem;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 100px;
    line-height: 90%;
}

.slide-in {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #24211b;
    transform-origin: bottom;
}

.slide-out {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #24211b;
    transform-origin: bottom;
}

.container-styles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
