/* @import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap"); */
@font-face {
    font-family: "Gentium Book Plus";
    font-style: normal;
    font-weight: 400;
    src: url("/GentiumBookPlus-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Gentium Book Plus";
    font-style: italic;
    font-weight: 400;
    src: url("/GentiumBookPlus-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Gentium Book Plus";
    font-style: normal;
    font-weight: 700;
    src: url("/GentiumBookPlus-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Gentium Book Plus";
    font-style: italic;
    font-weight: 700;
    src: url("/GentiumBookPlus-BoldItalic.ttf") format("truetype");
}

:root {
    --color-first: #57534c;
    --background-color: #e6d3b0;
    --swiper-navigation-color: #ce0d1b;
    --swiper-pagination-color: #ce0d1b;
}

* {
    color: var(--color-first);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Other global styles */
body {
    font-family: "Gentium Book Plus", serif;
    color: var(--color-first);
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    background: url("../public/harissa_background.jpg") fixed;
    background-color: var(--background-color);
    /* background-size: cover;  */
}

.hidden {
    visibility: hidden;
}

.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.header .header-items {
    display: flex;
}

.header .header-items .header-item,
.logo {
    padding: 1rem 2rem;
}

.content-container {
    align-items: center;
}

.content-container-align {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

a {
    font-weight: 500;
    letter-spacing: 0.08rem;
    text-decoration: none;
    text-transform: uppercase;
    gap: 1rem;
}

a:hover {
    text-decoration: underline;
    color: #3f3a32;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 100px;
    line-height: 90%;
}

.slide-in,
.slide-out {
    z-index: 1; /* Updated z-index */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #24211b;
}

.slide-in {
    transform-origin: bottom;
}

.slide-out {
    transform-origin: top;
}

.container-styles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.drink-list-container {
    display: flex;
    height: 75vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.drink-list-box {
    width: 65vw;
    min-width: 700px;
    list-style-type: none;
    padding-left: 3rem;
}

.list {
    list-style-type: none;
    /* display: flex;
    justify-content: space-between;
    font-size: 1.4;
    font-weight: 400;
    line-height: 2rem; */
}

.list:hover {
    background-color: rgba(156, 145, 129, 0.287);
}

.list:before {
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    position: absolute;
}

.list:not(:last-of-type) {
    border-bottom: 1px solid #b6ad9c;
}

.image-container {
    width: 80px; /* Adjusted to match the Image width */
    height: 200px; /* Set your desired fixed height for the image */
    margin-right: 16px; /* Adjust margin as needed */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.drink-name,
.drink-price,
.dish-price {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-links-style {
    display: flex;
    gap: 2rem;
    margin-left: 4rem;
}

.nav-style {
    display: flex;
    align-content: center;
    /* justify-content: space-between; */
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.dish-li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    /* margin: 1rem; */
    padding: 1rem;
    display: flex;
    /* justify-content: space-around; */
}

.dish-li a {
    text-transform: none;
    font-weight: 500;
    letter-spacing: 100%;
}

p.badge {
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 0.08rem;
    color: var(--color-first);
    padding: 3px 3px;
    text-align: center;
    border-radius: 5px;
    border: 1px rgb(169, 165, 151) solid;
    text-transform: uppercase;
    margin: 0.3rem;
    margin-top: 0.9rem;
}

.weekly-menu {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    z-index: 99;
    transform: translateY(-3rem);
    font-size: 0.9rem;
}

.swiper-slide-style {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 6rem;
}

/* Dish List Styles */

.dish-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-right: 6rem;
}

.dish-h1 {
    font-size: 1.4rem;
}

.dish-ingredients {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    padding-top: 0.6rem;
    /* align-items: center; */
}

.dish-name {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.06rem;
}

.drink-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.8;
    font-weight: 400;
    line-height: 2.6em;
}

.drink-list:hover {
    background-color: rgba(156, 145, 129, 0.287);
}

.drink-list:before {
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    position: absolute;
}

.drink-list:not(:last-of-type) {
    border-bottom: 1px solid #b6ad9c;
}

.dishes-dish-name {
    font-family: "Gentium Book Plus", serif;
    font-size: 2rem;
    font-weight: 500;
}

.dish-list-name-ingredients-spaces {
    padding-left: 1rem;
}

/* .dish-price {
    display: flex; */

.dish-list-icon {
    padding-top: 2rem;
    padding-left: 0.3rem;
}

h4 {
    padding-bottom: 1rem;
    border-bottom: 1px solid #423e37;
}

.list.last-item {
    border-bottom-color: #423e37; /* Change this to your desired color */
}

.leaflet-container {
    z-index: -99999;
}
