.swiper {
    width: 100vw;
}
.mySwiper {
    height: 76vh;
    /* margin: 0 10px 20px 10px !important; */
}

.swiper-slide {
    text-align: center;
    font-size: 12px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 40vw;
    height: 40vh;
    object-fit: cover;
}
